<div class="rocket-card">
  <div class="rocket-card__header">
    <div class="rocket-card__header__img">
      <img
        [src]="rocket?.links?.mission_patch"
        [alt]="rocket?.rocket?.rocket_name"
        width="100px"
      />
    </div>
    <div class="rocket-card__header__title flex justify-between">
      <h3>{{ rocket?.rocket?.rocket_name }}</h3>
      <p>{{ rocket?.mission_name }}</p>
    </div>
    <div class="meta">
      <div class="meta__item">
        Launch Date:
        <span>{{ rocket?.launch_date_local | date }}</span>
      </div>
      <div class="meta__item">
        Launch Status:
        <span>{{ rocket?.launch_success ? "Success" : "Failed" }}</span>
      </div>
      <div class="meta__item">
        Rocket Type: <span>{{ rocket?.rocket?.rocket_type }}</span>
      </div>
      <div class="meta__item">
        Is it Upcoming?: <span>{{ rocket?.upcoming ? "Yes" : "No" }}</span>
      </div>
    </div>
    <div class="btn">
      <button>View Details</button>
    </div>
  </div>
</div>
